<a href="https://colab.research.google.com/github/pizolotov/data_tree/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22Tree_evaluated_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import tree
import seaborn as sns
import graphviz
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import roc_curve, auc, precision_recall_curve, confusion_matrix
from sklearn.metrics import plot_precision_recall_curve, plot_roc_curve

In [10]:
url = 'https://raw.githubusercontent.com/pizolotov/data_tree/main/dataset_16_01_2023.csv'
df = pd.read_csv(url)
df.sample(10)

,Deposition Time,Operation Time,Mat,Proc#,Rs,Tc,RRR,Substrate T,Ar,N2,U,dU,power,w_p,substrate_id
784,180.0,21.96,NbN,1612,693.0,5.75,0.600,0.0,30.0,12.0,347.0,57.0,215.0,2.97,2
450,57.0,9.90,NbN,2310,645.0,9.40,0.840,400.0,40.0,10.0,365.0,49.0,254.0,3.50,79
678,600.0,33.70,NbN,1834,155.0,10.27,0.750,0.0,40.0,8.0,308.0,47.0,217.0,7.26,2
522,72.0,3.00,NbN,2217,530.0,9.00,0.770,300.0,40.0,10.0,392.0,46.0,268.0,3.50,54
594,120.0,13.80,NbN,1996,258.0,9.50,0.820,0.0,40.0,5.0,370.0,21.0,239.0,3.30,2
519,70.0,5.00,NbN,2222,569.0,8.45,0.685,400.0,40.0,11.0,387.0,51.0,268.0,7.00,78
101,52.0,65.00,NbN/Si,3020,717.0,9.40,0.790,570.0,40.0,20.0,368.0,83.0,300.0,4.00,2
246,90.0,84.00,NbN,2741,515.0,9.30,0.730,400.0,40.0,10.0,372.0,54.0,221.0,3.70,2
469,80.0,31.20,NbN,2286,330.0,9.20,0.870,400.0,40.0,8.0,396.0,18.0,273.0,2.30,2
377,68.0,79.00,NbN,2482,543.0,9.40,0.720,400.0,40.0,11.0,386.0,46.0,265.0,3.60,87